<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proccoli2">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/webp_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/webp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proccoli2">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.login.loginView"></activity>
        <activity android:name=".ui.profile.profileView"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.individualGoalCreation.goalView2"
            android:windowSoftInputMode="adjustNothing">
            ></activity>
        <activity android:name=".ui.subGoalCreation.subGoalView"></activity>
        <activity android:name=".ui.avatarCollection.avatarView"></activity>
        <activity android:name=".ui.individualWall.singleGoalView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            ></activity>
        <activity android:name=".ui.goalSetting.goalSettingView"></activity>
        <activity android:name=".ui.subGoalView_goalSetting.subGoalView_goalSetting"></activity>
        <activity android:name=".subGoalView_goalSetting_edit"></activity>
        <activity android:name=".goalProgressView"></activity>
        <activity android:name=".mainProgressView"></activity>
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashScreenWindow"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".timerView">
        </activity>
        <activity android:name=".timerViewGroupGoal">
        </activity>
        <activity android:name=".timeReportView"></activity>
        <activity android:name=".selfreport_activity"
            android:windowSoftInputMode="adjustNothing">
            ></activity>
        <activity android:name=".smileyFaceSurveyView"></activity>
        <activity android:name=".groupgoalsubGoalView"></activity>
        <activity android:name=".searchforfreinds_view"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name=".progressReportView"
            android:theme="@style/Theme.AppCompat.Translucent">
            ></activity>
        <activity android:name=".ui.groupGoalCreation.groupgoalView"
            android:windowSoftInputMode="adjustNothing"
            ></activity>
        <activity android:name=".groupgoalsingleGoalView"
            android:windowSoftInputMode="adjustNothing">
            ></activity>
        <activity android:name=".notification_fragment_activity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <receiver android:name=".NotificationPublisher"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>></receiver>
        <receiver android:name=".NotificationPublisherTimer"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>></receiver>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_notification" />
    </application>

</manifest>